# =========================
# Build folders
# =========================
build/
bin/
out/

# =========================
# Gradle
# =========================
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE files
# =========================
.idea/
.vscode/
*.iml

# =========================
# Environment configs
# =========================
.env

# =========================
# Temporary files
# =========================
*.tmp
*.swp